<div
  class="modal fade"
  id="sharedModal"
  tabindex="-1"
  aria-labelledby="sharedModalLabel"
  aria-hidden="true"
  inert
>
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
    <div class="modal-content py-5 w-75">
      <div
        class="modal-body d-flex justify-content-center flex-column align-items-center"
      >
        <p
          class="fs-5"
          [ngClass]="{
            'text-danger': isError
          }"
        >
          {{ message }}
        </p>
        @if (icon) {
        <fa-icon class="fs-2" [icon]="icon"></fa-icon>
        }
      </div>
    </div>
  </div>
</div>
