/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

.color-primary {
  color: #1d1d1d;
}

.background-color-primary {
  background-color: #1d1d1d;
}

.color-success {
  color: #004c3f;
}

.background-color-success {
  background-color: #004c3f;
}

.color-booked {
  color: #ff0000;
}

.background-color-booked {
  background-color: #ff0000;
}

.general-header {
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 60px;
  font-weight: lighter;
}
